<div id="site-header">

  <script src="/scripts/styling/dropdown.js"></script>

  <div class="header-image-container">
    <a href="./"><img src="{{siteLogoSource}}" alt="Site Logo"></a>
  </div>

  <h1 class="site-title"><a href="./">{{siteTitle}}</a></h1>

  <div id="click-stopper"></div>
  <div id="header-dropdown-menus">
    {{#each headerDropdownMenus}}
      {{> dropdown-menu}}
    {{/each}}
  </div>

</div>
