{{#section "head"}}
  <!-- Common html head stuff -->
  {{> common-html-head}}

  <!-- Link search styling -->
  <link href="/search_style.css" rel="stylesheet">
{{/section}}

{{> header }}

<form id="search-form" method="GET" action="/results">
  <label>Text:</label>
  <br>
  <textarea id="search-input" name="text" placeholder="Enter keywords separated by commas" cols="50" rows="5"></textarea>
  <br>
  <input id="search-submit-button" type="submit" value="Search">
</form>
