ul {
    list-style: none;
}

nav {
    width: 100%;
}

li.nav {

}

a {
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
    width: 10%;
    text-align: center;
}

body {

}

div.post{
    border: 2px solid black;
    margin: 5px;
    height: 200px;
}

div.post>*{
    margin-left: 2px;
}

div.post > h3 {
    border-bottom: 1px solid black;
    margin-top: 0;
}